<% layout ('partials/boilerplate.ejs') %>

    <div class="row justify-content-center">
        <div class="col">
            <h1 class="text-center display-3 mb-5">All bookings</h1>
        </div>
    </div>
    <% if(bookings.length){ %>
        <% for(let booking of bookings){ %>
            <div class="row mt-3 justify-content-center">
                <div class="col-lg-2">
                    <a href='/car/<%=booking.bookedCar.id%>' class='fs-5'>
                        <%=booking.bookedCar.name%>
                    </a>
                </div>
                <div class="col-lg-4">
                    <b class='fs-5 me-2'>Booking date:</b>
                    <span class='fs-6'>
                        <%=booking.bookedFrom%> - <%=booking.bookedUntil%>
                    </span>
                </div>
                <div class="col-lg-2 mb-3">
                    <b class='fs-5 me-2'>Booked by:</b>
                    <span class='fs-6'>
                        <%=booking.bookedBy.username%>
                    </span>
                </div>
                <div class="col-lg-2"><b class="text-decoration-underline fs-5">Price due: $
                        <%=booking.daysBooked*booking.bookedCar.carPrice%>
                    </b>
                </div>
                <div class="col-lg-2">
                    <form action="/book/<%=booking.bookedCar.id%>/<%=booking.id%>?_method=DELETE" method='POST'>
                        <button class="btn mb-3 mt-lg-0 mt-3 btn-cancel-booking">End booking</button>
                    </form>
                </div>
                <br>
                <hr>
            </div>
            <% } %>
                <% } else { %>
                    <h1 class="fs-4">No bookings have been made...</h1>
                    <% } %>


                        <div class="mb-5 row fixed-bottom justify-content-center">
                            <img style='max-width:200px;' class=''
                                src="https://res.cloudinary.com/duh1ufu4r/image/upload/c_scale,w_180/v1639683172/car4let/My_project_1_uf63xa.png"
                                alt="">

                        </div>